.menu {
    font-size: 48px;
    width: 200px;
    height: 100px;
    background: #000000;
    text-align: center;
    overflow: hidden;

}

a {
    font-size: 48px;
    color: white;
}

a {
    text-decoration: none;

}

a :link {
    text-decoration: none;

}

a :visited {
    text-decoration: none;
}

a :active {
    text-decoration: none;
}

.menuText {
    position: relative;
    top: 0px;
    height: 100px;
    background: red;
    display: inline-block;
    color: inherit;
}

.menuText:hover {
   animation: :moveUp-100 1s 1;

}

.menu:hover {
    background: #ffffff;
}

.menuText:active {
    color: #f5eb6e;
}

.menu:active {
    color: #5f7efd;
    background: #ccff9a;

}

@keyframes moveUp100 {
    from {
        top: 0;

    }
    to {
        top: -100px;
    }
}
